# 주석문

- **주석**은 코드의 실행과 무관한 문장을 기록하기 위한 기능이다

In [3]:
#  변수 선언
a = 10
print(a)

10

# Mark Down 실습

## 블록 인용문

- 블록 인용문 실습
> 첫 번째 블록 인용문
> > 두 번째 블록 인용문

## 순서 있는 목록
- 숫자와 마침표 사용

1. 첫 번째 목록
2. 두 번째 목록

## 줄바꿈
- \<br\> 태그 또는 공백 두 칸 다음에 엔터

문장 1<br>문장 2
문장 3  
문장 4

## 기울여 쓰기
- '*', '_' 로 감싼 텍스트

- 문장 *기울여* 쓰기

## 취소선
- '~~'로 감싼 텍스트

- ~~취소 문장~~

## 글상자
- '`'로 감싼 텍스트

- `글상자` 테스트

## 링크
- 사이트 및 이메일 링크, \[제목](주소)

[네이버](http://www.naver.com)

## 내부 링크
- 내부 헤더로 이동하는 링크
- \[제목](#이동할 헤더 제목)
- 제목에 띄어쓰기가 있는 경우 '-'로 연결

[마크다운 실습](#Mark-Down-실습)  
[제어문](#제어문)

## 이미지 삽입
- \![제목](파일 이름(또는 웹 주소))

![파이썬 로고](python.jpg)

<img src='python.jpg' width='100px' height='120px'>

## 코드 삽입
- \```코드이름``` 사이에 코드 블록 삽입
- 코드이름: python, html, javascript, java...

- 파이썬 코드 삽입
- ```python
  import time
  print('hello')
  ```

## 표
- 헤더 셀을 구분할 때 3개 이상의 --- 기호 사용
- 콜론(:)으로 정렬 방식을 지정

|Type-A|Predict|Type-B|
|---:|:---:|---|
|kind|Positive|Negative|
|Positive|10|20|
|Negative|10|20|

# 연산자와 데이터

In [16]:
# 산술 연산자

a = 10
b = 35

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(b//a)

45
-25
350
0.2857142857142857
0
3

In [21]:
# + 연산자 오버로딩: 문자 결합. 단! 숫자와 문자열의 결합은 불가
c = '사과'
d = 10
print(c+str(d)) # d변수의 데이터 타입을 문자열로 변환

사과10

In [22]:
# * 연산자 오버로딩: 문자열 반복
e = '하'
print(e*5)

하하하하하

In [23]:
# 나머지 연산자(mod): %
f = 25.5
g = 3
print(f % g)

1.5

In [24]:
# 거듭제곱 연산자: **
print(g**2)

9

In [27]:
# 논리 연산자

x = 1 #True
y = 0 #False
print(x and y)
print(x or y)

0
1

In [17]:
a=10
b=20
print(a, b)
print(a,b, sep=',') # sep 파라미터: 하나의 프린트 함수에 여러 값을 출력할 때 사용할 구분 문자열
print(a)
print(a, end=' ') # end 파라미터: 값을 출력 후 끝에 출력할 문자열, 기본 값은 '\n' (new line)이다.
print(b)

10 20
10,20
10
10 20

[문제] A 회사의 주가가 56,000원이고 B 회사의 주가가 125,000원이라고 할 때, 어떤 사람이 A 주식 100주와 B 주식 35주를 가지고 있다면 그 사람이 가지고 있는 주식의 총액을 계산하는 코드를 변수 선언 및 연산자를 사용하여 작성하시오.

In [45]:
A = 56000
B = 125000
total_money = (A * 100) + ( B * 35)
print('총 주식액 : ', total_money)
print(f'총 주식액 :  {total_money:,}') # formated string 형식을 지정한 문자열

총 주식액 :  9975000
총 주식액 :  9,975,000

[문제] 화씨 온도(F)를 섭씨 온도(C)로 변환하는 다음 공식을 이용하여 화씨 온도가 50일 때 섭씨 온도를 계산하시오.
- C = (F - 32) / 1.8

In [48]:
F = 50
C = (F -32) / 1.8

print(f'화씨 온도가 {F}일 때 섭씨 온도는 {C}이다.')

화씨 온도가 50일 때 섭씨 온도는 10.0이다.

# 표준 입출력

In [51]:
a = int(input('밑변의 길이 입력 : '))
b = int(input('높이의 길이 입력 : '))
print('밑변의 길이가',a,'이고 높이가',b,'인 사각형의 넓이:',a*b)
print(f'밑변의 길이가 {a}이고 높이가 {b}인 사각형의 넓이: {a*b}')

밑변의 길이 입력 :  10
높이의 길이 입력 :  30

밑변의 길이가 10 이고 높이가 30 인 사각형의 넓이: 300
밑변의 길이가 10이고 높이가 30인 사각형의 넓이: 300

# 제어문

In [55]:
score = float(input('점수 입력: '))

if score >= 90:
    print('합격')
elif 70 <= score < 90:
    print('재시험')
else:
    print('탈락')

점수 입력:  99.8

합격

In [60]:
notEmptyString = 'test' 

if notEmptyString:
    print('문자열이 비어있지 않습니다.')
else:
    print('문자열이 비어있습니다.') #문자열이 차있어서 true로 인식, 비어있으면 false로 인식

문자열이 비어있지 않습니다.

In [62]:
i = 20

if not i % 2 :# 0은 false로 인식되기 때문에 앞에 not을 붙이면 true
    print('짝수')
else:
    print('홀수')

짝수

[문제] 정수 하나를 입력받아 5의 배수인지를 조사하여 그 결과를 출력하시오.

In [65]:
num = int(input('정수 입력: '))

if num % 5 == 0:
    print('5의 배수.')
else:
    print('5의 배수가 아님')

정수 입력:  52

5의 배수가 아님

[문제] 화폐 단위 계산
사용자로부터 금액을 입력 받아 화폐의 단위별 개수를 출력하는 프로그램을 작성하시오.
조건) 화폐의 종류: 만원0000, 천원000, 백원00, 십원0 (일원 단위는 절사)
<실행 예>
금액을 입력하세요: 45630
만원: 4개
천원: 5개
백원: 6개
십원: 3개

In [71]:
# 내가 짠 코드
money = int(input('금액을 입력하세요: '))

m = money//10000
c = (money%10000)//1000
b = ((money%10000)%1000)//100
s = (((money%10000)%1000)%100)//10

print(f'만원: {m}개 천원: {c}개 백원: {b}개 십원: {s}개')

금액을 입력하세요:  45630

만원: 4개 천원: 5개 백원: 6개 십원: 3개

In [73]:
# 선생님 코드
money = int(input('금액을 입력하세요: '))
만원 = money // 10000
천원 = (money % 10000)//1000 #(money-만원*10000)//1000
백원 = (money%1000)//100 
십원 = (money % 100) // 10

print(f'만원:{만원}개')
print(f'천원:{천원}개')
print(f'백원:{백원}개')
print(f'십원:{십원}개')

금액을 입력하세요:  45630

만원:4개
천원:5개
백원:6개
십원:3개

## 삼항 연산자
- 결과값 변수 = \[참인 경우 선택될 값\] if \[조건식\] else \[거짓인 경우 선택될 값\]

In [75]:
a = 10
b = 20
result = 'a와 b는 같지 않다' if a != b else 'a와 b는 같다'
print(result)

a와 b는 같지 않다

[문제] 대도시 판단 여부
[판단 조건]
수도이면서 인구가 100만 이상인 도시
또는, 부자가 200만 이상인 도시 

[실행예시]
수도입니까? (수도:1, 수도아님:0) 1
인구(단위:만) 150
부자의 수(단위:만) 50
대도시 여부: True

수도입니까? (수도:1, 수도아님:0) 0
인구(단위:만) 90
부자의 수(단위:만) 210
대도시 여부: True

** 처리조건: 삼항 연산자 이용

In [83]:
# 내가 짠 코드
capital = int(input('수도입니까? (수도:1, 수도아님:0): '))
population = int(input('인구(단위:만): '))
rich = int(input('부자의 수(단위:만): '))

result = '대도시 여부: True' if capital == 1 and population >=100 or rich >=200 else '대도시 여부: False'
print(result)

수도입니까? (수도:1, 수도아님:0):  1
인구(단위:만):  300
부자의 수(단위:만):  20

대도시 여부: True

In [81]:
# 선생님 코드
isCapital = input('수도입니까? (수도:1, 수도아님:0) ')
citizens = int(input('인구(단위:만) '))
riches = int(input('부자의 수(단위:만) '))

result = True if (isCapital == '1' and citizens >= 100) or riches >= 200 else False
print('대도시 여부: ',result)

수도입니까? (수도:1, 수도아님:0)  0
인구(단위:만)  20
부자의 수(단위:만)  30

대도시 여부:  False

[문제] 시간제 임금 계산
근무한 시간을 입력 받아 다음과 같은 규칙에 맞게 임금을 계산하시오.
- 8시간까지는 시간당 9,900원이고, 8시간 초과분에 대해서는 1.5배를 지급한다.

[실행예시]
근무시간을 입력하세요: 25
임금은 331,650원 입니다.

In [91]:
# 내 코드
t = int(input('근무시간을 입력하세요: '))

if t - 8 <= 0:
    result = t*9900
elif t - 8 > 0:
    result = (9900*8) + ((t - 8)*9900*1.5)


print(f'임금은 {result:,}원 입니다.')

근무시간을 입력하세요:  25

임금은 331,650.0원 입니다.

In [97]:
base_pay = 9900
hour = int(input('근무시간을 입력하세요: '))
pay = 0 #최종 임금을 저장할 변수

if hour > 8:
    pay = 8 * base_pay + (hour - 8)*base_pay*1.5
else:
    pay = hour * base_pay

print(f'임금은 {pay:,.0f}원 입니다.') #.2f 소수점 이하 두자리까지 출력

근무시간을 입력하세요:  25

임금은 331,650원 입니다.

In [1]:
for i in range(10):
    for j in range(10):
        print(i,j,end=' ')

0 0 0 1 0 2 0 3 0 4 0 5 0 6 0 7 0 8 0 9 1 0 1 1 1 2 1 3 1 4 1 5 1 6 1 7 1 8 1 9 2 0 2 1 2 2 2 3 2 4 2 5 2 6 2 7 2 8 2 9 3 0 3 1 3 2 3 3 3 4 3 5 3 6 3 7 3 8 3 9 4 0 4 1 4 2 4 3 4 4 4 5 4 6 4 7 4 8 4 9 5 0 5 1 5 2 5 3 5 4 5 5 5 6 5 7 5 8 5 9 6 0 6 1 6 2 6 3 6 4 6 5 6 6 6 7 6 8 6 9 7 0 7 1 7 2 7 3 7 4 7 5 7 6 7 7 7 8 7 9 8 0 8 1 8 2 8 3 8 4 8 5 8 6 8 7 8 8 8 9 9 0 9 1 9 2 9 3 9 4 9 5 9 6 9 7 9 8 9 9

# 반복문

In [ ]:
c = 1
while c <= 5:
    print(c, end=' ')
    c += 1
print('End')

In [ ]:
#1~10 합
sum = 0

for i in range(1,11):
    sum += i # sum = sum + i
print(sum)

In [2]:
while True : #무한 반복
    s = input('영어 단어를 입력하세요(종료:q) ')
    if s == 'q' : break
    print(s.upper())
print('End')

영어 단어를 입력하세요(종료:q)  hello

HELLO

영어 단어를 입력하세요(종료:q)  q

End

[문제] 1~100 사이의 값 중 짝수에 해당하는 값의 총 합을 구하는 프로그램을 작성하세요.

In [3]:
# 내 코드
sum = 0

for i in range(0,101,2):
    sum += i
print(sum)

2550

In [4]:
# 선생님 코드
sum = 0

for i in range(1,101):
    if i % 2 != 0: continue
    sum += i
print(sum)

2550

In [93]:
# 파이썬에서 문자열은 집합형 데이터(리스트)로 관리한다.
for s in 'abcdef':
    print(s, end=',')
print('\b') #백스페이스

a,b,c,d,e,f

In [9]:
a = [1,2,3,4] # a는 list 객체
result = []
for i in a:
    result.append(i*3) #append()는 리스트 객체에 값을 추가하는 함수
print(result)

[3, 6, 9, 12]

In [10]:
# list comprehension
result = [i*3 for i in a]
print(result)

[3, 6, 9, 12]

In [11]:
# list comprehension with if
result = [i*3 for i in a if not i%2]
print(result)

[6, 12]

In [14]:
# a 원소 중 짝수는 3배수하고 홀수는 원래의 값을 갖는 리스트를 생성
result = [i*3 if not i%2 else i for i in a] #삼항 연산자는 표현식 부분에(for의 왼쪽)
print(result)

[1, 6, 3, 12]

In [ ]:
for i in range(5):
    for j in range(5):
        print(f'i={i}, j={j}')

## for ~ else 문
- while ~ else / for ~ else: 반복문이 break 등으로 중간에 빠져나오지 않고 끝까지 실행됐을 경우 else문이 실행된다.

In [96]:
word_list = ['java','python','c++','pascal']
key_word = input('검색 단어를 입력하세요: ')

for word in word_list:
    if word == key_word:
        print('검색 결과:', word)
        break
else: print('검색 결과가 없습니다.')

검색 단어를 입력하세요:  java

검색 결과: java

[문제] for문과 문자열 반복을 이용하여 다음 문자열을 출력하세요.
---------+---------+---------+---------+---------+

In [15]:
for i in range(5):
    print('-'*9, end = '+')

---------+---------+---------+---------+---------+

In [16]:
#선생님 코드
for i in range(5):
    print('-'*9, end = '')
    print('+', end = '')

---------+---------+---------+---------+---------+

In [18]:
for i in range(5):
    for j in range(9):
        print('-', end = '')
    print('+', end ='')

---------+---------+---------+---------+---------+

[문제] 사용자로부터 입력받은 단의 구구단을 출력하는 프로그램을 작성하세요.
[실행예시]
단을 입력하세요: 3
3 x 1 = 3
3 x 2 = 6
    :
3 x 9 = 27

In [26]:
num = int(input('단을 입력하세요: '))

for i in range(1,10,1):
    result = num*i
    print(f'{num} x {i} = {result}')

단을 입력하세요:  8

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

In [ ]:
# 선생님 코드
dan = int(input('단을 입력하세요: '))

for i in range(1,10):
    #print(dan,'x',i,'=',dan*i)
    print(f'{dan} x {i} = {dan*i:2d}') #:2d 두자릿수, :02d 두자릿수 채우고 빈자리는 0, :<2d 왼쪽 정렬 두자릿수

[문제] 합계 구하기
정수를 입력받아 1부터 입력받은 정수까지의 합을 구하여 출력하는 프로그램을 작성하세요.
단, 반복문은 while을 이용할 것

In [4]:
num = int(input('정수 입력: '))
sum = 0 # 전체 합계를 저장
cnt = 0 # 반복 횟수

while True :
    cnt += 1
    if cnt > num: break 
    sum += cnt

print(f'1~{num}까지의 합 : {sum} ')

정수 입력:  10

1~10까지의 합 : 55

[문제] 연도를 입력받아 윤년인지 평년인지를 판단하는 프로그램을 작성하세요.
프로그램은 반복적으로 수행되며 0을 입력 받으면 프로그램을 종료한다.
윤년조건: 4로 나누어 떨어지고, 100으로 나누어 떨어지지 않는 해, 또는 400으로 나누어 떨어지는 
[실행예시]
연도를 입력하세요(종료:0) 2023
2023년은 평년입니다.
연도를 입력하세요(종료:0) 2024
2024년은 윤년입니다.

In [25]:
while True :
    year = int(input('연도를 입력하세요(종료:0) '))
    if year == 0: break
    result = '윤년' if (not year % 4 and year % 100) or (not year % 400) else '평년'
    print(f'{year}년은 {result}입니다.') # print 안에 삼항 연산자를 넣을 수는 없음

연도를 입력하세요(종료:0)  2023

2023년은 평년입니다.

연도를 입력하세요(종료:0)  3030

3030년은 평년입니다.

연도를 입력하세요(종료:0)  0

In [32]:
# 선생님 코드
while True:
    year = int(input('연도를 입력하세요(종료:0) '))
    if year == 0: break
    result = '윤년' if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0) else '평년'
    print(f'{year}년은(는) {result}입니다.')
print('End')

연도를 입력하세요(종료:0)  0

End

[문제] BMI 측정 프로그램
키와 몸무게를 입력받아 BMI 측정 결과를 출력하는 프로그램을 작성하세요.
[BMI 계산식]
BMI = 몸무게(kg) / 키(m)의 제곱
** BMI 비만도 판단 결과 지표
18.5 미만: 저체중
18.5 ~ 22.9: 정상체중
23 ~ 29.9: 비만 1단계
29.9 초과: 비만 2단계 
[실행예시]
키를 입력하세요(cm): 170
몸무게를 입력하세요(kg): 85
당신의 BMI는 비만 1단계 입니다.

In [41]:
# 내 코드
cm = int(input('키를 입력하세요(cm): '))
kg = int(input('몸무게를 입력하세요(kg): '))
BMI = kg / (cm / 100)**2

if BMI < 18.5:
    result = '저체중'
elif 18.5 <= BMI <= 22.9:
    result = '정상체중'
elif 23 <= BMI <= 29.9:
    result = '비만 1단계'
else: result = '비만 2단계'
print(f'당신의 BMI는 {result} 입니다.')

키를 입력하세요(cm):  170
몸무게를 입력하세요(kg):  85

당신의 BMI는 비만 1단계 입니다.

In [ ]:
# 선생님 코드
height = int(input('키를 입력하세요(cm): '))
weight = int(input('몸무게를 입력하세요(kg): '))
BMI = weight / ((height/100)**2)
result = '' # 변수는 사용하기 전 항상 null 값으로 선언하는 습관을 들이기 (숫자는 0으로, 문자열은 ''으로)

if BMI < 18.5:
    result = '저체중'
elif 18.5 <= BMI < 23:
    result = '정상체중'
elif 23 <= BMI < 30:
    result = '비만 1단계'
elif BMI >= 30:
    result = '비만 2단계'
print(f'당신의 BMI는 {result}입니다.')

# 문자열 처리

In [47]:
mystr = '학교 종이 땡땡땡'
print(mystr[0])
print(mystr[-1])
# mystr[1] = '원' : 이렇게 하면 안됨
for s in mystr:
    print(s)

학
땡
학
교

종
이

땡
땡
땡

In [48]:
mystr = '''동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려 강산
대한사람 대한으로 길이 보전하세'''
print(mystr)

동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려 강산
대한사람 대한으로 길이 보전하세

In [51]:
hello = '나는 "안녕하세요"라고 인사합니다.'
print(hello)
hello2 = "나는 \"안녕하세요\"라고 인사합니다."
print(hello2)
print("철수\t영희")

나는 "안녕하세요"라고 인사합니다.
나는 "안녕하세요"라고 인사합니다.
철수	영희

[문제] 파일이름 슬라이싱
- 파일이름: "20240315-163750.jpg"
[출력결과]
촬영 날짜 : 2024년 03월 15일
촬영 시간 : 16시 37분
확장자 : jpg #음수 인덱스 사용

In [4]:
f = "20240315-163750.jpg"

print(f'촬영 날짜 : {f[0:4]}년 {f[4:6]}월 {f[6:8]}일')
print(f'촬영 시간 : {f[9:11]}시 {f[11:13]}분')
print(f'확장자 : {f[-3:]}') # f[-3:len(f)]
print(f[f.find('.'):]) #print(f'확장자: {f[f.find('.')+1:]}')

촬영 날짜 : 2024년 03월 15일
촬영 시간 : 16시 37분
확장자 : jpg
.jpg

In [74]:
# 문자열 뒤집기
str = 'hello'
print(str[::-1])

olleh

## 문자열 함수

In [75]:
s = '''생각이란 생각할수록 생각나므로
생각하지 말아야 할 생각은 생각하지 않으려고 하는 생각이
옳은 생각이라고 생각합니다.''' 
print(s.count('생각'))

9

In [77]:
s = 'Python Programming'
print('a' in s) 
print('z' in s)

True
False

In [79]:
s = '짜장 짬뽕 탕수육'
print(s.split()) #아무 것도 안넣으면 기본 세팅이 공백

s2 = '서울->대전->대구->부산'
print(s2.split('->'))

['짜장', '짬뽕', '탕수육']
['서울', '대전', '대구', '부산']

In [80]:
city_list = ['서울', '대전', '대구', '부산']
city_string = ','.join(city_list)
print(city_string)

서울,대전,대구,부산

In [83]:
s = '대한민국'
print('.'.join(s))

대.한.민.국

# 데이터 분석할 때 유용하게 쓰이는 유형
[문제] 주민등록번호 분석하기
- 임의의 주민등록번호를 입력 받아 다음과 같이 생년과 성별을 추출하는 프로그램을 작성하세요.
- 성별 값은 1~4 사이의 값만 유효
[실행예시]
주민등록번호 : 881234-1234567
88년생 남자
88년생 성별오류

In [2]:
jumin = input('주민등록번호: ')
year = jumin[:2]
gender = jumin[7]
s_gender = ''

if gender in ['1', '3']:
    s_gender = '남자'
elif gender in ['2', '4']:
    s_gender = '여자'
else: s_gender = '성별오류'
print(f'{year}년생 {s_gender}')

주민등록번호:  881234-1234567

88년생 남자

## 문자열 대입

In [9]:
print('I eat %d apples' %3)
print('I eat %s apples' %'five')
print('I eat %d%% apples' %95)

I eat 3 apples
I eat five apples
I eat 95% apples

In [10]:
month = 8
day = 15
anni = '광복절'
print('%d월 %d일은 %s이다.'%(month, day, anni))

8월 15일은 광복절이다.

In [13]:
number = 4
day = '삼'
print('나는 사과 {}개를 먹고 {}일 동안 아팠다.'.format(number, day))
print('나는 사과 {1}개를 먹고 {0}일 동안 아팠다.'.format(day, number))
print('나는 사과 {number}개를 먹고 {day}일 동안 아팠다.'.format(number = 7, day = 3))

나는 사과 4개를 먹고 삼일 동안 아팠다.
나는 사과 4개를 먹고 삼일 동안 아팠다.
나는 사과 7개를 먹고 3일 동안 아팠다.

In [20]:
print('내 이름은 {:5s}입니다.'.format('홍길동'))
print('내 이름은 {:>5s}입니다.'.format('홍길동'))
print('내 이름은 {:*>5s}입니다.'.format('홍길동'))

내 이름은 홍길동  입니다.
내 이름은   홍길동입니다.
내 이름은 **홍길동입니다.

[문제] 단어 수 세기 
- 문자열 내 전체 단어가 몇 개인가?
- 문자열 내 'like' 단어의 갯수가 몇 개인가?
- 문자열 내 가장 많이 포함되어 있는 단어는 무엇인가?
> 1. 문자열 끝의 개행('\n') 문자를 공백 문자로 치환한다.
> 2. 문자열을 단어로 나눈다
> 3. 모든 단어를 소문자로 수정한다.

In [87]:
song = """Hello, it's me 
I was wondering if after all these years you'd like to meet
To go over everything
They say that time's supposed to heal ya
But I ain't done much healing
Hello, can you hear me?
I'm in California dreaming about who we used to be
When we were younger and free
I've forgotten how it felt before the world fell at our feet
There's such a difference between us
And a million miles
Hello from the other side
I must've called a thousand times
To tell you I'm sorry for everything that I've done
But when I call, you never seem to be home
Hello from the outside
At least I can say that I've tried
To tell you I'm sorry for breaking your heart
But it don't matter, it clearly doesn't tear you apart anymore
Hello, how are you?
It's so typical of me to talk about myself, I'm sorry
I hope that you're well
Did you ever make it out of that town where nothing ever happened?
It's no secret that the both of us are running out of time
So hello from the other side (Other side)
I must've called a thousand times (Thousand times)
To tell you I'm sorry for everything that I've done
But when I call, you never seem to be home
Hello from the outside (Outside)
At least I can say that I've tried (I've tried)
To tell you I'm sorry for breaking your heart
But it don't matter, it clearly doesn't tear you apart anymore
Ooh-ooh, anymore
Ooh-ooh-ooh, anymore
Ooh-ooh, anymore
Anymore
Hello from the other side (Other side)
I must've called a thousand times (Thousand times)
To tell you I'm sorry for everything that I've done
But when I call, you never seem to be home
Hello from the outside (Outside)
At least I can say that I've tried (I've tried)
To tell you I'm sorry for breaking your heart
But it don't matter, it clearly doesn't tear you apart anymore"""

song = song.lower().replace('\n',' ')
punctuation = ".,'`?!()-"
for p in punctuation: #punctuation의 값을 p로 
    song = song.replace(p,'')
#print(song)

print('like 단어의 갯수 : ', song.count('like'))
word_list = song.split()
print('전체 단어 갯수 : ',len(word_list))

max_word_count = 0 # 가장 많이 나온 단어의 횟수
max_word = '' # 가장 많이 나온 단어
for word in word_list:
    word_count = word_list.count(word)
    if word_count > max_word_count:
        max_word_count = word_count
        max_word = word
print('가장 많이 나온 단어는 %s이며 횟수는 %d이다'%(max_word, max_word_count))

like 단어의 갯수 :  1
전체 단어 갯수 :  333
가장 많이 나온 단어는 you이며 횟수는 15이다

<pre>
    [문제] 영화예매
    10개 좌석만 있는 극장의 예매 프로그램 만들기
    비어있는 좌석은 0으로 표기하고, 예매가 된 좌석은 1로 표기한다.
    만약 예약되어 있는 좌석을 예약하려고 했을 때 적절한 오류 메세지를 출력하고 다시 예약을 받는다. 
    [실행예시]
    좌석을 예약하시겠습니까? (예약:1, 종료:0) 1
    현재의 예약 상태는 다음과 같습니다.
    ---------------------
    1 2 3 4 5 6 7 8 9 10
    ---------------------
    0 0 0 0 0 0 0 0 0 0
    몇 번째 좌석을 예약하시겠습니까? 2
    예약되었습니다.
    좌석을 예약하시겠습니까? (예약:1, 종료:0) 1
    현재의 예약 상태는 다음과 같습니다.
    ---------------------
    1 2 3 4 5 6 7 8 9 10
    ---------------------
    0 1 0 0 0 0 0 0 0 0
    몇 번째 좌석을 예약하시겠습니까? 2
    이미 선택된 좌석입니다.
    좌석을 예약하시겠습니까? (예약:1, 종료:0) 1
</pre>

In [103]:
# 좌석 예약 정보를 저장하는 리스트
# 2번 좌석 예약 : seats[1] = 1
seats = [0,0,0,0,0,0,0,0,0,0]

while True:
    reservation = int(input('좌석을 예약하시겠습니까? (예약:1, 종료:0) '))
    if reservation == 0:
        print('예약을 종료합니다.')
        break
    elif reservation == 1:
        print('현재의 예약 상태는 다음과 같습니다.')
        print('---------------------')
        print('1 2 3 4 5 6 7 8 9 10')
        print('---------------------')
        print(seats)
        selection = int(input('몇번째 좌석을 예약하시겠습니까?'))    
        print('예약되었습니다.')
        print('현재의 예약 상태는 다음과 같습니다.')
        print('---------------------')
        print('1 2 3 4 5 6 7 8 9 10')
        print('---------------------')
        seats[selection-1] = 1
        print(seats)
            
        
        #occupied = seats[selection-1]
        #if occupied == 1:
            #print('이미 선택된 좌석입니다.')

좌석을 예약하시겠습니까? (예약:1, 종료:0)  1

현재의 예약 상태는 다음과 같습니다.
---------------------
1 2 3 4 5 6 7 8 9 10
---------------------
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

몇번째 좌석을 예약하시겠습니까? 3

예약되었습니다.
현재의 예약 상태는 다음과 같습니다.
---------------------
1 2 3 4 5 6 7 8 9 10
---------------------
[0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

좌석을 예약하시겠습니까? (예약:1, 종료:0)  0

In [ ]:
# 좌석 예약 정보를 저장하는 리스트
# 2번 좌석 예약 : seats[1] = 1
seats = [0,0,0,0,0,0,0,0,0,0]

while True:
    isContinue = int(input('좌석을 예약하시겠습니까? (예약:1, 종료:0) '))
    if isContinue == 0 :
        break
    elif isContinue == 1 :
        print('현재의 예약 상태는 다음과 같습니다.')
        print('---------------------')
        print('1 2 3 4 5 6 7 8 9 10')
        print('---------------------')
        for s in seats:
            print('%2d'%s, end='')
        while True:
            seat_num = int(input('몇번째 좌석을 예약하시겠습니까? '))
            if seats[seat_num-1] == 1:
                print('이미 선택된 좌석입니다.')
            else :
                seats[seat_num-1] = 1
                print('예약되었습니다.')
                break

# 리스트(List)

In [ ]:
# 리스트 선언
a = []
b = list() #다른 데이터 타입을 list로 바꿀 때 많이 씀
c = [1,2,3]

In [120]:
# 슬라이싱
a = [1,2,3,4,5,6,7]
b = a[:2]
print(b)
c = a[:]
print(c)

[1, 2]
[1, 2, 3, 4, 5, 6, 7]

In [123]:
# 리스트 복사
a = [1,2,3,4,5,6,7]

# 얕은 복사
b = a
print(b)
b[2] = 20
print(a)

# 깊은 복사
c = a[:]
c [0] = 200
print(a)

print(a is b)
print(a is c)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 20, 4, 5, 6, 7]
[1, 2, 20, 4, 5, 6, 7]
True
False

In [125]:
# 리스트의 연결(+), 반복(*)
a =[1,2,3]
b = [4,5,6]
print(a+b)
print(a*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [129]:
# list에 들어있는 요소 삭제, 수정
a = [1,2,3,4,5]
a[3] = 40
print(a)

a[1:3] = []
print(a)

del a[1]
print(a)

[1, 2, 3, 40, 5]
[1, 40, 5]
[1, 5]

In [130]:
## 리스트의 함수들

In [133]:
a = [1,5,3,6,7]
r = a.sort(reverse = True) #주의 : 정렬의 결과를 반환하지 않는다. 
print(r)
print(a)

None
[7, 6, 5, 3, 1]

In [136]:
a = [1,3,4,2,1,10,22]
a.remove(4) # index로 삭제하는 것이 아니고 실제 값을 삭제
print(a)
temp = a.pop() # 가장 마지막 데이터를 꺼낸 후 삭제
print(temp)
print(a)

[1, 3, 2, 1, 10, 22]
22
[1, 3, 2, 1, 10]

In [142]:
a = [1,3,4,2,1,10,22]
# 다음 함수는 리스트 객체의 함수가 아닌, 파이썬의 내장 함수 
print(len(a)) 
print(max(a))
print(min(a))
print(sum(a))
print(sum(a) / len(a)) # 평균

7
22
1
43
6.142857142857143

In [146]:
ans = input('결제를 하시겠습니까? ')
if ans in ['yes', 'y', 'ok', '네', '예']:
    print('구매해 주셔서 감사합니다.')
else :
    print('안녕히 가세요!')

결제를 하시겠습니까?  yes

구매해 주셔서 감사합니다.

## 이중 리스트
- 리스트의 요소로 리스트를 갖는 형태

In [148]:
l = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(l[0])
print(l[0][0])

for  x in l:
    for y in x:
        print(y, end=' ')
    print() # 리스트마다 줄바꿈

[1, 2, 3]
1
1 2 3
4 5 6
7 8 9

- [:]과 deepcopy()의 차이

In [150]:
import copy 

matrix = [[1,2,3],
         [4,5,6],
         [7,8,9]]
# [:]를 이용한 깊은 복사는 서브 리스트까지 깊은 복사를 수행하지 않는다. 
# copy_m = matrix[:]
# 반면 deepcopy() 함수는 모든 요소에 대한 깊은 복사를 수행한다.
copy_m = copy.deepcopy(matrix)
print(id(matrix[0])) #id는 참조값
print(id(copy_m[0]))

1342008027200
1342008027648

[문제] 성적 총점과 평균 구하기
학생 3명의 성적에 대해 각각 총점과 평균을 구하고, 전체 평균을 구하세요.
[실행결과]
1번 학생 : 총점 : 300, 평균: 82.50
2번 학생 : 총점 : 345, 평균: 92.12
3번 학생 : 총점 : 280, 평균: 79.50
전체 평균 : 78.34

In [197]:
score = [[88, 76, 92, 98],
        [65, 70, 58, 82],
        [82, 80, 78, 88]]

#내가 쓰다 만 코드 
i = 0
while i < len(score):    
    sum_score = score[i][0]+score[i][1]+score[i][2]+score[i][3]
    # print(sum_score)
    
    average = sum_score / len(score[i])
    print(f'{i+1}번 학생 : 총점 : {sum_score}, 평균 : {average}')
    i+=1

1번 학생 : 총점 : 354, 평균 : 88.5
2번 학생 : 총점 : 275, 평균 : 68.75
3번 학생 : 총점 : 328, 평균 : 82.0

In [196]:
#선생님 코드
score = [[88, 76, 92, 98],
        [65, 70, 58, 82],
        [82, 80, 78, 88]]
index = 1
total = 0 #전체 모든 학생의 총점을 저장
all_subjects = 0 #전체 과목 수 
for student in score:
    print(f'{index}번 학생: 총점: {sum(student)}, 평균 : {sum(student) / len(student):.2f}')
    index += 1
    total += sum(student)
    all_subjects += len(student)
print(f'전체 평균 : {total/all_subjects:.2f}')

1번 학생: 총점: 354, 평균 : 88.50
2번 학생: 총점: 275, 평균 : 68.75
3번 학생: 총점: 328, 평균 : 82.00
전체 평균 : 79.75

[문제] 일수 계산
1~12월 중 입력 받은 월이 몇일까지 있는지를 계산하는 프로그램을 작성하세요.

[실행예시]
년도를 입력하세요: 2024
월을 입력하세요: 2
2024년 2월은 29일까지 있습니다.

[참고]
윤년 조건 : 4로 나눠지고 100으로 나눠지지 않는 해 또는 400으로 나눠지는 해

In [215]:
daysInMonth = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

year = int(input('년도를 입력하세요: '))
month = int(input('월을 입력하세요: '))
days = 0

if month == 2:
    days = 29 if not year % 4 and year % 100 or not year % 400 else 28
else:
    days = daysInMonth[month-1]
print(f'{year}년 {month}월은 {days}일까지 있습니다.')

년도를 입력하세요:  2023
월을 입력하세요:  2

2023년 2월은 28일까지 있습니다.

# 딕셔너리(Dictionary)

In [224]:
# 딕셔너리 생성
x = {'name': '홍길동', 'age' : 32}
print(x['name'])
x['address'] = '서울시 강남구'
print(x['address'])
x['address'] = '서울시 강서구'
print(x)
print(x.get('birth', '생일 미등록'))

홍길동
서울시 강남구
{'name': '홍길동', 'age': 32, 'address': '서울시 강서구'}
생일 미등록

In [231]:
# 딕셔너리 데이터 순회
y = {'name':'전우치', 'phone':'010-1234-5367', 'age':25}
print(y.keys())
print(y.items())

for key in y.keys():
    print(key, y[key])
print('-'*15)

for key, value in y.items():
    print(key,value)

dict_keys(['name', 'phone', 'age'])
dict_items([('name', '전우치'), ('phone', '010-1234-5367'), ('age', 25)])
name 전우치
phone 010-1234-5367
age 25
---------------
name 전우치
phone 010-1234-5367
age 25

In [236]:
score = {'홍길동':89, '임꺽정':88, '손오공':80, '전우치':67}

print('합계: ', sum(score.values()))
print(sorted(score.items(), key=lambda  x:x[1])) #x:x[0]이면 key값을 기준으로 정렬, x:x[1]이면 value값을 기준으로 정렬

합계:  324
[('전우치', 67), ('손오공', 80), ('임꺽정', 88), ('홍길동', 89)]