# [4] 사각형 넓이 계산 <5점>
• 사각형의 폭과 높이를 각각 키보드로 입력 받아 면적을 구하는 프로그램을 작성 하시오.

In [1]:
width = int(input('width: '))
height = int(input('height: '))
print(f'폭 {width}, 높이 {height}의 사각형 넓이는: {width * height}')

width:  5
height:  4

폭 5, 높이 4의 사각형 넓이는: 20

# [5] 전자 출결 시스템 만들기 <10점>
• 계정의 ID와 PW를 변수로 미리 지정 > ID: digitalmaster, PW: 12345678
• ID와 PW를 입력 받아 로그인
• ID, PW가 일치하면 “정상적으로 출결 되었습니다.” 출력
• ID, PW가 일치하지 않으면 “ID, PW를 확인하세요.” 출력

In [ ]:
id = 'digitalmaster'
pw = '12345678'
print('--DIMA4기 전자출결 시스템--')
user_id = input('ID를 입력하세요: ')
user_pwd = input('PW를 입력하세요: ')
if id == user_id and pwd == user_pwd:
    print('정상적으로 출결 되었습니다.')
else:
    print('ID, PW를 확인하세요.')

# [6] 성적 평가 시스템 만들기 <12점>
• 100점 단위로 다음 항목에 해당하는 성적을 입력 받고, 각 항목의 반영 비율을 적용하여 총점
과 학점을 출력한다.
• 출석점수(10%), 과제점수(20%), 중간고사(40%), 기말프로젝트(30%)
• 총점에 상관 없이 출석점수가 50점을 넘지 못하면 F학점이며, 총점 점수에 따른 학점 기준은
다음과 같다

In [ ]:
print('성적입력 (100점단위)')
attendence = int(input('출석점수: '))
homework = int(input('과제점수: '))
mid_term = int(input('중간고사: '))
final_project = int(input('기말프로젝트: '))
total = (attendence*0.1)+(homework*0.2)+(mid_term*0.4)+(final_project*0.3)
if attendence < 50:
    grade = 'F'
else:
    if total >= 90:
        grade = 'A'
    elif total >= 80:
        grade = 'B'
    elif total >= 70:
        grade = 'C'
    elif total >= 60:
        grade = 'D'
    else :
        grade = 'F'
print(f'총점: {total:.2f}')
print(f'{grade}학점')

# [7] 정렬 및 배수 출력 <9점>
• 임의의 정수 10개를 입력 받아 오름차순으로 정렬하여 출력하고, 이 중 3의 배수에 해당하는
숫자를 출력하는 프로그램을 작성 하시오.
숫자 입력: 42
숫자 입력: 12
숫자 입력: 4
숫자 입력: 56
숫자 입력: 32
숫자 입력: 14
숫자 입력: 59
숫자 입력: 98
숫자 입력: 52
숫자 입력: 11
[4, 11, 12, 14, 32, 42, 52, 56, 59, 98]
42
12

In [ ]:
num = []
for i in range(10):
    num.append(int(input('숫자 입력: ')))
num.sort()
print(num) #num.sort()가 아니라 num을 프린트 안에 넣음
for n in num:
    if not n%3: print(n)

# [8] 딕셔너리 변경 <8점>
• 아래의 phone 변수의 문자열을 출력결과와 같이 딕셔너리로 변경하여 출력 하시오.
• phone = "서울 02 ~경기 031 ~강원 033 ~충남 041 ~충북 043 ~경북 054 ~경남 055 ~전남 061 ~전북 063"

{'서울': '02', '경기': '031', '강원': '033', '충남': '041', '충북': '043', '경북': '054', '경남': '055', '
전남': '061', '전북': '063'}

In [2]:
phone = "서울 02 ~경기 031 ~강원 033 ~충남 041 ~충북 043 ~경북 054 ~경남 055 ~전남 061 ~전북 063"
splited_phone = phone.split('~')

#딕셔너리 comprehension
mydic = {}
mydic = {s.split()[0] : s.split()[1] for s in splited_phone}
#위 코드를 풀어서
# mydic = {}
# for s in splited_phone:
#     key = s.split()[0]
#     value = s.split()[1]
#     mydic[key] = value    
print(mydic)

{'서울': '02', '경기': '031', '강원': '033', '충남': '041', '충북': '043', '경북': '054', '경남': '055', '전남': '061', '전북': '063'}

# [9] 임의의 웹 주소를 입력 받아 이 도메인이 .kr로 끝나는 도메인인지 확인하는 코드를 작성 하시오. <4점>
웹 주소 입력: www.naver.com
결과: kr 도메인이 아닙니다.

In [ ]:
url = input('웹 주소 입력: ')
if url[-3:] == '.kr':
    print('kr 도메인 입니다.')
else: 
    print('kr 도메인이 아닙니다.')

# [10] 리스트 컴프리헨션 문법을 사용하여 1에서 100 사이의 짝수로 구성된 리스트를 생성 하시오. <5점>

In [3]:
value = [i for i in range(1, 101) if not i%2]
print(value)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

# [11] price 리스트에 저장되어 있는 상품 가격 다섯 개를 람다(lambda) 함수를 이용하여 모든 상품의 가격을 20% 세일한 값으로 출력 하시오. <5점>

price = [435, 1200, 890, 1350, 995]

In [11]:
price = [435, 1200, 890, 1350, 995]
for sale_price in map(lambda x:x*0.8, price):
    print(f'{sale_price:.0f}')

348
960
712
1080
796

# [12] 평균과 10 이상 차이나는 값 구하기 <8점>
• 정수 10개를 입력 받아 그 값들의 평균과 10 이상 차이나는 정수들을 출력하는 프로그램을 작성
하시오.
값[0] : 1
값[1] : 5
값[2] : 10
값[3] : 25
값[4] : -40
값[5] : -25
값[6] : 100
값[7] : 3
값[8] : 5
값[9] : 7
평균 : 9.1
평균과 10 이상 차이나는 수 : 25 -40 -25 100

In [1]:
nums = []
for i in range(1,11):
    nums.append(int(input(f'값[{i}]')))

avg = sum(nums) / len(nums) #리스트 안 합계 구하는 건 sum 내장함수로 처리
print(f'평균: {avg:.2f}')
print('평균과 10 이상 차이나는 수: ', end ='')
for n in nums:
    if n-avg <= -10 or n-avg >= 10:
        print(n, end=' ')

값[1] 2
값[2] 3
값[3] 5
값[4] 2
값[5] 4
값[6] 4
값[7] 1
값[8] 5
값[9] 1
값[10] 5

평균: 3.20
평균과 10 이상 차이나는 수:

# [13] n번째로 큰 수 찾기<8점>
• 사용자로부터 정수를 반복적으로 입력 받는다. 반복 입력은 0을 입력하면 반복을 종료한다.
• 이 후 검색할 순위를 입력 받으면 해당 순위의 숫자를 출력하되 입력 받은 값의 범위를 벗어난 순위를 입력하면 순위를 다시 입력 받는다.
정수를 입력하세요(종료:0)
5
4
6
2
1
0
검색할 순위 : -4
리스트의 범위를 벗어났습니다. 다시 입력하세요 : 9
리스트의 범위를 벗어났습니다. 다시 입력하세요 : 1
1번째로 큰 수는 6입니다.

In [ ]:
nums = []
print('정수를 입력하세요 (종료:0)')
while True:
    num = int(input())
    if num == 0: break
    nums.append(num)

nums.sort(reverse=True)

while True:
    rank = int(input('검색할 순위:'))
    if 0 < rank <= len(nums):
        break
    else:
        print('리스트의 범위를 벗어났습니다. 다시 입력하세요.')
print(f'{rank}번째로 큰 수는 {nums[rank-1]}')

정수를 입력하세요 (종료:0)

 2
 3
 2
 0
검색할 순위: -9

리스트의 범위를 벗어났습니다. 다시 입력하세요.

# [14] 날짜 수 구하기 <8점>
• 년, 월, 일을 입력 받아 서기 1년 1월 1일부터의 날짜 수를 구한다.
[참고]
1년은 365일이다. 2년 1월 1일은 366일째이다.
윤년의 경우에는 366일이다.
윤년 조건: 4로 나눠지고, 100으로 나눠지지 않는 해. 또는 400으로 나눠지는 해
연도: 2024
월: 3
일: 26
1년 1월 1일 ~ 2024년 3월 26일까지는 총 738,971일 입니다.

In [5]:
monthly_date = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

year = int(input('연도: '))
month = int(input('월: '))
day = int(input('일: '))

total = 0

def isLeapYear(year):
    return (not year%4 and year%100) or not year%400
    
# 전년도까지 총 일수
for i in range(1, year):
    if isLeapYear(i):
        total += 366
    else:
        total += 365
# 전월까지 총 일수
for i in range(month-1):
    total += monthly_date[i]

# 해당 날짜 더하기
total += day

# 당해 년도가 윤년이고 확인하고자 하는 월이 3월 이후이면 1일 더하기
if isLeapYear(year) and month > 2:
    total += 1

print(f'1년 1월 1일 ~ {year}년 {month}월 {day}일까지는 총 {total:,}일 입니다.')

연도:  2024
월:  3
일:  26

1년 1월 1일 ~ 2024년 3월 26일까지는 총 738,971일 입니다.

# [15] 리스트에 저장된 숫자 맞추기 <12점>
• 1~20 범위의 중복되지 않는 임의의 정수 5개를 생성하여 리스트에 저장하고 사용자가 입력하
여 맞히는 프로그램을 작성한다.
• 모든 값을 다 맞힌 후에는 시도 횟수를 출력한다.
| X | X | X | X | X |
>> X 위치의 숫자를 맞혀보세요 : 1
** 정답입니다!
| X | X | X | X | 1 |
>> X 위치의 숫자를 맞혀보세요 : 2
** 정답입니다!
| X | X | X | 2 | 1 |
>> X 위치의 숫자를 맞혀보세요 : 3
** 정답입니다!
| X | X | 3 | 2 | 1 |
>> X 위치의 숫자를 맞혀보세요 : 4
** 정답입니다!

| 4 | X | 3 | 2 | 1 |
>> X 위치의 숫자를 맞혀보세요 : 5
** 없는 숫자입니다.
| 4 | X | 3 | 2 | 1 |
>> X 위치의 숫자를 맞혀보세요 : 6
** 정답입니다!
** 6회만에 성공!!!

In [ ]:
import random

nums = random.sample(range(1,21),5)
print(nums)

mark = ['X'] * 5
count = 0
while True:
    count += 1
    print('|', end='')
    for m in mark:
        print(f'{m}|', end='')

    user_input = int(input('X 의 위치의 숫자를 맞혀보세요: '))
    for i, n in enumerate(nums): #enumarate: 리스트의 인덱스와 원소를 튜플로 반환
        if n == user_input:
            print('정답입니다!')
            mark[i] = n #mark[i] = str(n)도 가능
            break
    else: print('없는 숫자입니다.')

    if mark.count('X') == 0: break 
print(f'{count}회 만에 성공!')

[2, 4, 18, 9, 13]
|X|X|X|X|X|

X 의 위치의 숫자를 맞혀보세요:  6

없는 숫자입니다.
|X|X|X|X|X|

X 의 위치의 숫자를 맞혀보세요:  13

정답입니다!
|X|X|X|X|13|

X 의 위치의 숫자를 맞혀보세요:  9

정답입니다!
|X|X|X|9|13|